
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 81.25%;
}

a {
    color: #0054b9;
    text-decoration: none;
}

a:hover {
    color: red;
}

.header {
    width: 800px;
    margin: 73px auto 15px;
}

.header__content {
    padding-right: 36px;
    display: block;
}

.header::after {
    content: "";
    display: block;
    clear: both;
}

.header__container {
    width: 510px;
    float: left;
}

.header__teaser {
    width: 220px;
    float: right;
}

.teaser__title {
    font-weight: 400;
}

.header__title {
    margin-top: 4px;
    margin-bottom: 10px;
    display: inline-block;
}

.header__title-link {
    margin-right: 12px;
    color: #6da2e1;
    font-weight: 400;
    font-size: 19px;
}

.header__title-link:last-child {
    margin-right: 0;
}

.tabs__active {
    color: #0054b9;
}

.header__time {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #999999;
    font-size: 11px;
    padding-left: 10px;
}

.banner {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.banner__content {
    background: url("../images/banner.gif");
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 18px;
    width: 728px;
    height: 90px;
    background-size: 100%;
}

.tabs__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.tabs__list .tabs__list-item {
    padding-bottom: 10px;
    font-size: 13px;
}

.tabs__list-link {
    color: #000000;
}

.header__course-currency .course-currency__item {
    float: left;
    padding-right: 10px;
}

.header__course-currency::after {
    content: "";
    display: block;
    clear: left;
}

.course-currency__stock {
    padding-left: 5px;
}

.course-currency__cell {
    padding-left: 5px;
    color: #d04d4d;
}

.course-currency__item .course-currency__link {
    text-transform: uppercase;
}

.course-currency__link {
    color: #000000;
    font-weight: 700;
}

.widgets {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    margin-bottom: 30px;
}

.widgets .widgets__column {
    float: left;
}

.widgets__column {
    width: 294px;
    margin-right: 6px;
}

.widgets::after {
    content: "";
    margin-right: 0;
    clear: left;
    display: block;
}

.weather, .services, .traffic, .tv-stream, .region, .poster {
    padding: 8px 4px 4px 20px;
    margin-top: 6px;
}

.weather__content-link {
    font-size: 28px;
    color: #000000;
}

.weather__forecast {
    display: inline-block;
    vertical-align: top;
}

.weather__temp {
    vertical-align: top;
}

.weather__icon {
    margin-top: -10px;
    margin-left: -10px;
}

.traffic__content-link {
    font-size: 28px;
    color: #000000;
}

.traffic__content {
    height: 35px;
}

.traffic__content-link {
    padding-right: 8px;
}

.traffic__icon {
    padding-right: 8px;
}

.traffic__forecast {
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
}

.traffic__rate {
    vertical-align: top;
}

.weather__title, .services__title, .traffic__title, .tv-stream__title, .region__title, .poster__title {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    padding: 4px 8px 10px 0;
    font-size: 19px;
    font-weight: 400;
}

.weather__content {
    height: 35px;
}

.service__list-title, .service__list-subtitle, .weather__forecast-link,
.weather__list-link, .region__list-link, .poster__list-title, .tv-stream__program-title, .promo__content-link {
    color: #000000;
}

.poster__list-subtitle, .tv-stream__program-subtitle, .sample__content-link {
    color: #999999;
}

.service__list-title, .region__list-link {
    font-weight: 700;
}

.weather__list-item, .services__list-item, .tv-stream__list-item, .region__list-item, .poster__list-item {
    margin-bottom: 10px;
    font-weight: 400;
}

.poster__list-title, .tv-stream__program-title, .tv-stream__list-time {
    margin-right: 8px;
}

.region__list-item {
    float: left;
    margin-bottom: 10px;
    margin-right: 13px;
}

.region__list::after {
    content: "";
    display: block;
    clear: left;
}

.weather__list-item, .services__list-item:last-child {
    margin-bottom: 0;
}

.poster__list-item:last-child {
    margin-bottom: 0;
}

.tv-stream__list-item:last-child {
    margin-bottom: 0;
}

.region__list-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.weather__list, .services__list, .tv-stream__list, .region__list, .poster__list,
.media__list, .business__list, .company__list, .search__tabs-list {
    font-style: normal;
    display: block;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    background-color: #f0f0f0;

}

.footer__content {
    margin-left: auto;
    margin-right: auto;
    width: 897px;
    padding-top: 32px;
    padding-bottom: 39px;
    font-size: 13px;
    color: rgba(0, 0, 0, .45);
}

.footer__column {
    float: left;
    margin-right: 50px;
}

.company__list {
    float: left;
    margin-right: 50px;
}

.footer__container::after {
    content: "";
    display: block;
    clear: left;
}

.company__list::after {
    content: "";
    display: block;
    clear: left;
}

.media__list-title {
    font-weight: 700;
}

.media__list-title, .media__list-subtitle, .business__list-link, .company__list-link {
    color: rgba(0, 0, 0, .45);
}

.media__list-item, .business__list-item, .company__list-item {
    margin-top: 11px;
}

.media__list-item:first-child {
    margin-top: 0;
}

.business__list-item:first-child {
    margin-top: 0;
}

.company__list-item:first-child {
    margin-top: 0;
}

.company__list:last-child {
    margin-right: 0;
}

.footer__logo {
    background-image: url('../images/footer-logo.svg');
    width: 60px;
    float: right;
    margin-top: 8%;
    height: 23px;
    opacity: .4;
}

.search {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 36px;
    display: block;
    margin-bottom: 5px;
}

.home__logo {
    width: 140px;
    height: 100px;
}

.search__box {
    float: left;
}

.search::after {
    content: "";
    display: block;
    clear: left;
}

.search__tabs-item {
    float: left;
    margin-right: 20px;
}

.search__tabs-item:last-child {
    margin-right: 0;
}

.search__tabs-list {
    font-size: 15px;
}

.search__tabs::after {
    content: "";
    display: block;
    clear: left;
}

.search__menu {
    margin-top: 9px;
    margin-bottom: 10px;
}

.search__content {
    width: 880px;
    padding-right: 50px;
}

.search__panel-input {
    padding-left: 10px;
    padding-right: 45px;
    font-size: 16px;
    outline: none;
    width: 670px;
    height: 30px;
    font-weight: 400;
    border: 2px solid #F4CD00;
    border-right: none;
}

.search__panel-button {
    cursor: pointer;
    outline: none;
    border: none;
    width: 88px;
    padding-bottom: 0;
    height: 36px;
    margin-left: -34px;
    background-color: #F4CD00;
}

.keyboard__icon {
    background: url("../images/keyboard-icon.svg") no-repeat 50% 50%;
    width: 27px;
    height: 27px;
    vertical-align: top;
    display: inline-block;
    top: 4px;
    right: 40px;
    position: relative;
    cursor: pointer;
    opacity: .5;
}

.keyboard__icon:hover {
    opacity: .8;
}

.search__promo {
    margin-top: 8px;
}

.sample__content {
    float: left;
}

.promo__content-icon {
    margin-top: -5px;
    margin-right: 6px;
}

.promo__content {
    float: right;
}

.search__promo::after {
    content: "";
    display: block;
    clear: both;
}
