
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    color: #0054b9;
    text-decoration: none;
}

a:hover {
    color: #d04d4d;
    -webkit-transition: color .15s ease-out;
    transition: color .15s ease-out;
}

.header {
    width: 900px;
    margin: 68px auto 39px;
}

.header__news {
    margin-bottom: 10px;
}

.header__column, .header__teaser {
    display: inline-block;
    vertical-align: bottom;
}

.header__column {
    width: 564px;
    margin-right: 31px;
}

.header__teaser {
    width: 270px;
}

.teaser__content {
    margin-top: 10px;
}

.teaser__title {
    font-weight: 400;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 5px;
}

.teaser__image-link {
    display: block;
}

.teaser__image {
    width: 120px;
}

.teaser__age {
    color: #999999;
    margin-left: 2px;
    font-size: 11px;
    padding: 2px 3px;
}

.teaser__image-link, .teaser__age {
    display: inline-block;
    vertical-align: top;
}

.header__news-tabs {
    margin-bottom: 10px;
}

.header__tabs-title {
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: baseline;
}

.header__tabs-link {
    color: #6da2e1;
    font-weight: 400;
    font-size: 19px;
}

.header__tabs-link:last-child {
    margin-right: 0;
}

.header__tabs-active {
    color: #0054b9;
}

.header__time {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #999999;
    font-size: 11px;
}

.ba-teaser {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}

.ba-teaser__image {
    width: 728px;
}

.news__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.news__list-item {
    margin-bottom: 10px;
    font-size: 13px;
}

.news__list-item:last-child {
    margin-bottom: 0;
}

.news__list-link {
    color: #000000;
}

.course-currency__stock, .course-currency__cell {
    margin-left: 5px;
}

.course-currency__rise {
    color: #069922;
}

.course-currency__fall {
    color: #d04d4d;
}

.course-currency__item .course-currency__link {
    text-transform: uppercase;
}

.course-currency__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
}

.course-currency__item:last-child {
    margin-right: 0;
}

.course-currency__link {
    color: #000000;
    font-weight: 700;
}

.widgets {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.widget {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    width: 292px;
    margin-right: 5px;
}

.widget:last-child {
    margin-right: 0;
}

.widget__item {
    margin-bottom: 24px;
}

.widget__item:last-child {
    margin-bottom: 0;
}

.weather__temp-link {
    display: inline-block;
    font-size: 28px;
    margin-right: 10px;
    color: #000000;
}

.weather__temp {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 8px;
}

.weather__clear {
    background-image: url("../images/weather/clear.svg");
    background-size: 100% 100%;
}

.weather__overcast {
    background-image: url("../images/weather/overcast.svg");
    background-size: 100% 100%;
}

.weather__icon {
    display: inline-block;
    vertical-align: bottom;
    width: 48px;
    height: 48px;
}

.traffic__icon {
    display: inline-block;
    vertical-align: bottom;
    width: 33px;
    height: 30px;
}

.traffic__green {
    background-image: url("../images/traffic/green.svg");
    background-size: 100% 100%;
}

.traffic__link {
    font-size: 28px;
    color: #000000;
}

.traffic__link {
    margin-right: 10px;
}

.traffic__icon {
    margin-right: 8px;
}

.traffic__forecast {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 8px;
}

.weather__link, .traffic__link {
    display: inline-block;
    vertical-align: bottom;
}

.weather__title, .services__title, .traffic__title, .tv-stream__title, .region__title, .poster__title {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 400;
}

.service__list-title, .service__list-subtitle, .weather__forecast-link, .traffic__forecast-link,
.weather__list-link, .region__list-link, .poster__list-title, .tv-stream__program-title, .promo__content-link {
    color: #000000;
}

.promo__content-link, .weather__forecast-link, .traffic__forecast-link {
    display: block;
}

.weather__link {
    margin-right: 10px;
}

.poster__list-subtitle, .tv-stream__program-subtitle, .sample__input-link {
    color: #999999;
}

.service__list-title, .region__list-link {
    font-weight: 700;
}

.weather__list-item, .services__list-item, .tv-stream__list-item, .region__list-item, .poster__list-item {
    margin-bottom: 10px;
    font-weight: 400;
}

.poster__list-title, .tv-stream__program-title, .tv-stream__list-time {
    margin-right: 8px;
}

.region__list-item {
    float: left;
    margin-bottom: 10px;
    margin-right: 13px;
}

.region__list::after {
    content: "";
    display: block;
    clear: left;
}

.weather__list-item, .services__list-item:last-child {
    margin-bottom: 0;
}

.poster__list-item:last-child {
    margin-bottom: 0;
}

.tv-stream__list-item:last-child {
    margin-bottom: 0;
}

.region__list-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.weather__list, .services__list, .tv-stream__list, .region__list, .poster__list,
.media__list, .business__list, .company__list, .search__list {
    display: block;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    background-color: #f0f0f0;
}

.footer__content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 39px;
    font-size: 13px;
    color: rgba(0, 0, 0, .45);
}

.footer__column {
    float: left;
    margin-right: 50px;
}

.company__list {
    float: left;
    margin-right: 50px;
}

.footer__container::after {
    content: "";
    display: block;
    clear: left;
}

.company__list::after {
    content: "";
    display: block;
    clear: left;
}

.media__list-title {
    font-weight: 700;
}

.media__list-title, .media__list-subtitle, .business__list-link, .company__list-link {
    color: rgba(0, 0, 0, .45);
}

.media__list-item, .business__list-item, .company__list-item {
    margin-top: 11px;
}

.media__list-item:first-child {
    margin-top: 0;
}

.business__list-item:first-child {
    margin-top: 0;
}

.company__list-item:first-child {
    margin-top: 0;
}

.company__list:last-child {
    margin-right: 0;
}

.footer__logo {
    background-image: url('../images/footer-logo.svg');
    width: 60px;
    float: right;
    margin-top: 8%;
    height: 23px;
    opacity: .4;
}

.search {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-bottom: 5px;
}

.search__logo {
    position: absolute;
    left: -145px;
    margin-top: 0;
    margin-bottom: 0;
}

.search__logo-link {
    display: block;
}

.search__logo-image {
    width: 140px;
}

.search__list-item {
    float: left;
    margin-right: 20px;
}

.search__list-item:last-child {
    margin-right: 0;
}

.search__list {
    font-size: 15px;
}

.search__list::after {
    content: "";
    display: block;
    clear: left;
}

.search__menu {
    margin-bottom: 10px;
}

.search__content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.search__input {
    box-sizing: border-box;
    padding: 0 115px 0 10px;
    font-size: 16px;
    width: 100%;
    height: 36px;
    font-weight: 400;
    border: 2px solid #ffdb4d;
    border-right: none;
}

.search__input:focus {
    outline: none;
}

.search__input:not(:placeholder-shown) ~ .search__reset {
    opacity: .3;
    transition: .2s ease-out;
}

.search__input:not(:placeholder-shown) ~ .search__keyboard {
    opacity: 0;
    z-index: -9999;
}

.search__input:not(:placeholder-shown) ~ .search__reset:hover {
    opacity: 1;
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
}

.search__input::placeholder {
    opacity: 0;
}

.search__field {
    padding-right: 10px;
}

.search__submit {
    width: 88px;
    overflow: hidden;
    background: 0 0;
    padding: 0;
    right: 0;
}

.submit__text:hover {
    background-color: #FFD133;
    border: 0 solid #FFD133;
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
}

.submit__text:active {
    background-color: #FFC633;
    border: 0 solid #FFC633;
}

.submit__text {
    display: block;
    line-height: 36px;
    position: relative;
    margin-right: 9px;
    padding-left: 5px;
    font-size: 16px;
    border: 0 solid #ffdb4d;
    background-color: #ffdb4d;
}

.submit__text::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -9px;
    border-width: 22px 0 22px 11px;
    border-style: solid;
    border-color: rgba(255, 219, 76, 0);
    border-left-color: inherit;
}

.search__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
}

.search__keyboard {
    background: url("../images/keyboard-icon.svg") no-repeat 50% 50%;
    width: 27px;
    opacity: .5;
    padding: 0;
    right: 100px;
}

.search__reset {
    background: url("../images/search-reset.svg") no-repeat 50% 50%;
    width: 16px;
    right: 98px;
    cursor: pointer;
    opacity: 0;
    border: none;
    padding: 0;
}

.search__keyboard:hover {
    opacity: .8;
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out;
}

.search__panel {
    width: 100%;
    max-width: 880px;
    min-width: 300px;
    box-sizing: border-box;
}

.search__panel-form {
    margin-bottom: 8px;
    position: relative;
    max-width: 815px;
}

.sample__content {
    float: left;
}

.promo__icon {
    margin-top: -5px;
    margin-right: 6px;
}

.promo__content {
    float: right;
}

.search__panel-sample::after {
    content: "";
    display: block;
    clear: both;
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
}