* {
    color: #000;
}

a {
    color: red;
}

.link {
    color: #000;
}

#link {
    color: green;
}

.any-link {
    color: pink;
}

.parent{
    margin: 20px;
    border: 1px solid #000;
}

.block{
    background-color: tomato;
}

.block1{
    margin: 100px;
}